# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
  - bases/metal.sidero.dev_environments.yaml
  - bases/metal.sidero.dev_servers.yaml
  - bases/metal.sidero.dev_serverclasses.yaml
# +kubebuilder:scaffold:crdkustomizeresource

commonLabels:
  clusterctl.cluster.x-k8s.io/move: ""

patchesStrategicMerge:
  # [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
  # patches here are for enabling the conversion webhook for each CRD
  - patches/webhook_in_environments.yaml
  - patches/webhook_in_servers.yaml
  - patches/webhook_in_serverclasses.yaml
  # +kubebuilder:scaffold:crdkustomizewebhookpatch

  # [CERTMANAGER] To enable webhook, uncomment all the sections with [CERTMANAGER] prefix.
  # patches here are for enabling the CA injection for each CRD
  - patches/cainjection_in_environments.yaml
  - patches/cainjection_in_servers.yaml
  - patches/cainjection_in_serverclasses.yaml
# +kubebuilder:scaffold:crdkustomizecainjectionpatch

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
  - kustomizeconfig.yaml
