# permissions to do viewer servers.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: server-viewer-role
rules:
- apiGroups:
  - metal.sidero.dev
  resources:
  - servers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - metal.sidero.dev
  resources:
  - servers/status
  verbs:
  - get
